body {
  font-family: 'League Spartan', sans-serif;
  background-image: linear-gradient(white, #84bb6557);
  /* background-color: hsl(152, 44%, 47%); */
}

.edit-contact-button {
  font-family: 'League Spartan', sans-serif;
  font-size: 16px;
  margin-top: 6px;
  margin-left: 12px;
}

.edit-socials-button {
  font-family: 'League Spartan', sans-serif;
  font-size: 16px;
  margin-top: 6px;
  margin-right: 8px;
}

.edit-icon {
  height: 16px;
  padding-right: 5px;
}

input {
  width: 100%;
}

  /* 
  font-family: 'League Spartan', sans-serif;
  background-color: #228657;
  opacity: .6;
  color: black; 
  */

.menu {
  background-color: #43ac7b;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page{
  width: 70%;
  height: 100vh;
}


