.card-item {

    background-color: #228657;
    
    opacity: .7;
    
    color: white;
    
    width: 350px;
    
    height: auto;
    
    margin-left: auto;
    
    margin-right: auto;
    
    border-radius: 10%;
    
    }
    
    .gigTitle {
    
    font-size: 2em
    
    }
    
      
    
    .gigbody {
    
    font-size: 1.5em
    
    }

    .gig-image {
        width: 200px;
        margin-left: 0%;
        border-top-left-radius: 10%;
    }