.tile {

    background-color: white;
    
    opacity: .7;
    
    color: white;
    
    width: 350px;
    
    height: auto;
    
    margin-left: auto;
    
    margin-right: auto;
    
    border-radius: 10%;
    
    }
    
    .gigTitle {
    
    font-size: 2em;
    
    color: #ffffff;
    
    }
    
    .gigbody {
    
    font-size: 1.5em;
    
    }
    
      
    
    .gig-image {
    
    width: 200px;
    
    /* margin-left: 20px;
    
    margin-top: 20px; */
    
    border-radius: 5%;
    
    box-shadow: inset;
    
    }