.signup-form {
  background-color: #43ac7b;
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items:center;
}

.card {
  border-radius: 25px;
}

.noaccount {
  font-size: 1em;
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.gigstartedtitle {
  font-size: 3em;
  /* display: flex;
  justify-content: center; */
}

input {
  width: 100%;
  height: 30px;
  margin: 2px;
}

.signup-form .button {
  background-color: #228657;
  border-color: #228657;
  color: white;
  display: flex;
  justify-content: center;
}

.signup-form .button:hover {
  border-color: #228657;
  color: white;
}

