.signup-form {
  background-color: #43ac7b;
  color: white;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items:center;
}

.signup-form .noaccount {
  font-size: 1em;
  margin-top: 10%;
}

.gigstartedtitle {
  font-size: 3em;
  /* display: flex;
  justify-content: center; */
}

.signup-form .button {
  background-color: #228657;
  border-color: #228657;
  color: white;
}

.signup-form .button:hover {
  border-color: #228657;
  color: white;
}