.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 10%;
}

 .fullname { 
  font-size: 1.8em;
  font-weight: lighter;
  padding-right: 5%;
 }

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-content textarea {
  width: 500px;
  height: auto;
  padding: 1%;
} 

#editaboutfield {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 160px;
  margin-bottom: 4%;
  font-family: 'League Spartan', sans-serif;
} 

.edit-about-input{
  padding: 0%;
  margin: 0%;
}

#editabout, #editsection {
  color: black;
  border-style: none;
  margin-left: 80%;
} 

.edit-button {
  color: black;
  border-style: solid;
}

.edit-button:hover {
  color: black;
  border-style: solid;
}

@media only screen and (max-width: 800px) {
.fullname {
  display: none;
  }
}
