.about-container {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
  padding-right: 5%;
  padding-left: 0px;
  padding-bottom: 1%;
  margin-bottom: 5%;
  margin-left: 0px;
}

 .fullname { 
  color: #85BB65;
  font-size: 32px;
  font-weight: 600;
  padding-right: 5%;
 }

.about-content {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.about-content textarea {
  width: 500px;
  height: auto;
  padding: 1%;
} 

#editaboutfield {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 160px;
  margin-bottom: 4%;
  font-family: 'League Spartan', sans-serif;
} 

.edit-about-input{
  padding: 0%;
  margin: 0%;
}

#editsection {
  color: black;
  border-style: none;
  margin-left: 80%;
} 

.edit-button {
  color: black;
  border-style: solid;
  margin-left: 80%;
}

.edit-button:hover {
  color: black;
  border-style: solid;
}

@media only screen and (max-width: 800px) {
.fullname {
  display: none;
  }
}
