.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}
 .fullname { 
  font-size: 1.8em;
  font-weight: lighter;
  padding-right: 5%;
 }

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-content textarea {
  width: 500px;
  height: auto;
  padding: 1%;
} 

.pamela-image {
  width: 150px;
  border-radius: 50%;
}

@media only screen and (max-width: 800px) {
.fullname {
  display: none;
  }
}

@media only screen and (max-width: 900px) {
.pamela-image {
  display: none;
  }
}