.login-form {
  background-color: #43ac7b;
  color: white;
  display: flex;
  width: 95%;
  height: 450px;
  justify-content: center;
  align-items:center;
}

.gigintitle {
  font-size: 3em;
  display: flex;
  justify-content: center;
}

.login-form .button {
  background-color: #228657;
  border-color: #228657;
  color: white;
}

.button:hover {
  border-color: #228657;
  color: white;
}

.cred-error {
  color: rgb(109, 21, 21);
  font-size: 13px;
  font-weight: bold;
}

.card {
  border-radius: 20px;
}